.custom-shape-divider-top-1675108744 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1675108744 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 201px;
}

.custom-shape-divider-top-1675108744 .shape-fill {
  fill: #121214;
}
